# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# User data
account_statements/*
data/*
export/*
report/
docs/*

# Development folder
dev/
.env
..bfg-report/**/*
.DS_Store


# IDE
.vscode/

# Python virtual environment
*py*env*/

!.gitkeep

tmp.log
